@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Preventa la selezione globale del testo */
  -webkit-user-select: none;
  user-select: none;
}

/* Consente la selezione del testo dove necessario (input e textarea) */
input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

/* Evita il trascinamento delle immagini */
img {
  -webkit-user-drag: none;
}
